@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    font-family: Open Sans;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

button,
input {
    border: none;
}

section .section-header {
    font-weight: 600;
    font-size: 37px;
    line-height: 50px;
    color: #464646;
    text-align: center;
}

section input.filtr-basket {
    background: #FFFDFD;
    box-shadow: 3px 4px 11px -3px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 300px;
    height: 35px;
    margin-bottom: 40px;
}

section input.filtr-basket placeholder {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #C1C1C1;
}

section .input-filtr {
    text-align: center;
}

section button.btn-sort {
    width: 90px;
    height: 40px;
    background: #6CB986;
    border-radius: 10px;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

section div.sort {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

section div.shop-items {
    background: #FAFAFA;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
}

div.shop-items div.shop-item {
    display: flex;
    flex-direction: column;
    max-width: 220px;
}

div.shop-items .shop-item-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: #000000;
}

div.shop-items .shop-item-image {
    width: 220px;
    height: 125px
}

div.shop-items div.shop-item-details {
    margin-top: 10px;
}

div.shop-item-details div.description-item {
    display: flex;
    flex-direction: column;
}

div.shop-item-details .shop-item-button {
    width: 125px;
    height: 30px;
    background: #6CB986;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 5px;
    cursor: pointer;
}

div.cart-row {
    display: flex;
    justify-content: space-around;
}

div.cart-row .cart-header {
    margin-bottom: 15px;
}

div.cart-row span {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.cart-quantity-input {
    width: 40px;
    border-style: groove;
}

.btn-removeItemCard {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #ca3f3f;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.cart-total-title,
.cart-total-price {
    font-weight: 600;
    font-size: 18px;
    line-height: 55px;
    color: #000000;
    margin-left: 20px;
}

section.cart-section .btn-purchase {
    width: 100px;
    height: 30px;
    background: #6CB986;
    border: none;
    color: #ffffff;
    font-size: 12px;
    box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin-left: 20px;
}

section.cart-section .remove-basket {
    width: 120px;
    height: 30px;
    background: #AE8C6B;
    color: #ffffff;
    font-size: 12px;
    box-shadow: 3px 4px 8px -2px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin-left: 5px;
}

section.cart-section .cart-row:last-child {
    border-bottom: 1px solid black;
}

.shop-item {
    margin: 30px 30px;
}

section.cart-section .btn-purchase,
section.cart-section .remove-basket {
    margin-bottom: 40px;
    cursor: pointer;
}

div.shop-item-details div.row {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .content-section:first-child {
        width: 60%;
        padding: 0 40px;
    }

    section div.shop-items {
        background-color: #ffffff;
    }

    section button.btn-sort {
        width: 130px;
        height: 46px;
        font-size: 13px;
    }

    div.shop-items div.shop-item {
        max-width: 500px;
    }

    div.shop-items .shop-item-image {
        width: 480px;
        height: 300px;
    }

    .container {
        display: flex;
    }

    div.cart-section {
        width: 100%;
    }

    hr {
        display: none;
    }

    div.cart-row span {
        font-size: 12px;
    }

    .cart-total-title,
    .cart-total-price {
        font-size: 12px;
    }

    section.cart-section .remove-basket {
        margin-left: 20px;
        margin-top: 5px;
    }

    section.cart-section .btn-purchase,
    section.cart-section .remove-basket {
        margin-bottom: 10px;
    }

}

@media only screen and (min-width: 1023px) {
    .content-section:first-child {
        width: 100%;
        padding: 0 40px;
    }

    .content-section:last-child {
        width: 50%;
    }

    div.cart-row span {
        font-size: 20px;
    }

    .cart-total-title,
    .cart-total-price {
        font-size: 20px;
    }
}
